.loader {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #fd868c, #25d3e9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .spinner-border {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6f42c1;
  color: white;
  text-align: center;
  padding: 20px;
  opacity: 0.9;
}

.cont {
  position: relative;
}
.overlay h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 1.4px;
  font-family: q;
}

.overlay p {
  font-size: 16px;
  font-weight: 400;
}
.cont nav {
  position: fixed;
  width: 75%;
  border-radius: 40px;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  left: 10%;
  z-index: 1;
}
.main-btn {
  font-size: 13px;
  border-radius: 20px;
  padding: 8px 20px !important;
  background-color: #ff589e !important;
  text-transform: uppercase;
  color: #fff !important;
  letter-spacing: 0.25px;
  align-self: center;
}
.main-btn:hover {
  background-color: #6610f2 !important;
}
.pic-container {
  position: relative;
  height: 600px;
  width: 100%;
}
.hover:hover {
  transition: 0.4s;
  transform: translate(0%, -10px);
}
.navbar-nav .nav-link {
  display: block;
  font-weight: 400;
  font-size: 15px;
  color: #1e1e1e;
  letter-spacing: 1px;
}
#active {
  color: #ff589e;
}
.dell {
  width: 90px;
  background-color: rgb(105, 90, 205);
  border-radius: 50%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 750px) {
  .cont {
    margin-bottom: 150px !important;
  }
}
.mini-box {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  margin-bottom: 120px;
  border-radius: 30px;
  width: 170px;
  text-decoration: none;
}
.mini-box img {
  height: 40px;
  width: 25px;
  margin-bottom: 20px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  margin-top: 150px;
}
.section {
  margin-bottom: 10px;
}
.team-item .team-content {
  text-align: left;
  overflow: hidden;
  margin-left: 35px;
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.team-item .team-content p {
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 15px;
  color: #777;
  letter-spacing: 0.6px;
  line-height: 26px;
}
.user-image img {
  border-radius: 50%;
}
.team-info {
  margin-left: 20px;
}
.team-item:hover .team-info {
  transition: 0.4s;
  margin-left: 10px;
}
.team-item .team-content .team-info span {
  display: block;
  font-weight: 400;
  font-size: 15px;
  color: #ff589e;
  letter-spacing: 0.25px;
}
.center-heading h2 {
  font-weight: 500;
  font-size: 25px;
  color: #1e1e1e;
  letter-spacing: 1.75px;
  line-height: 38px;
  margin-bottom: 20px;
}
.center-text p {
  font-size: 15px;
  color: #777;
  margin-bottom: 30px;
}
.pricing-item.active .pricing-body .price-wrapper {
  background-color: #ff589e;
}
.pricing-item .pricing-header .pricing-title {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.25px;
  color: #1e1e1e;
  width: 180px;
  height: 40px;
  line-height: 40px;
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}
.pricing-item .pricing-body .price-wrapper {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 13px;
  background: #8261ee;
  width: 80%;
  margin-bottom: 40px;
  margin-top: 5px;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 10px;
  margin-bottom: 10px;
}
.pricing-item .pricing-body .price-wrapper .currency {
  height: 47px;
  font-weight: 500;
  font-size: 32px;
  color: #fff;
  position: relative;
  top: -1px;
}
.pricing-item .pricing-body .price-wrapper .price {
  font-weight: 500;
  font-size: 28px;
  color: #fff;
}
.pricing-item .pricing-body .price-wrapper .period {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  display: block;
  letter-spacing: 0.88px;
}
.pricing-item .pricing-body .list li {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 13px;
  color: #7a7a7a;
  letter-spacing: 0.25px;
  text-decoration: line-through;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.pricing-item {
  background: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 50px 0px 60px 0px;
}
.team-item {
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 25px;
  padding: 30px;
}
a.main-button:hover {
  background-color: #ff589e;
}
button.main-button:hover {
  background-color: #ff589e;
}
a.main-button {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #8261ee;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a {
  text-decoration: none !important;
}
.pricing-item .pricing-footer {
  text-align: center;
  margin-top: 50px;
}
.counter .content .count-item strong {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.25px;
  margin-bottom: 10px;
  color: #fff;
}
.counter .content .count-item span {
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.25px;
}
.count-item span {
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.25px;
}
.blog-post-thumb h3 a {
  font-weight: 500;
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  line-height: 26px;
}
.blog-post-thumb .text {
  font-weight: 400;
  font-size: 13px;
  color: #777;
  letter-spacing: 0.26px;
  line-height: 26px;
  margin-bottom: 15px;
}
.section.colored {
  background: #f2f2fe;
}
#contact-us {
  padding: 160px 0px;
}
.center-heading .section-title {
  font-weight: 500;
  font-size: 28px;
  color: #1e1e1e;
  letter-spacing: 1.75px;
  line-height: 38px;
  margin-bottom: 20px;
}
.center-text p {
  font-size: 15px;
  color: #777;
  margin-bottom: 30px;
}
#contact-us h5 {
  font-weight: 500;
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  line-height: 26px;
}
.contact-text {
  font-weight: 400;
  font-size: 14px;
  color: #6f8ba4;
  letter-spacing: 0.6px;
  line-height: 26px;
}
.contact-form input,
.contact-form textarea {
  color: #777;
  font-size: 14px;
  border: 1px solid #eee;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 30px;
}
.contact-form input,
.contact-form textarea {
  color: #777;
  font-size: 14px;
  border: 1px solid #eee;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 30px;
}
.contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}
button.main-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #8261ee;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.team:hover .dell {
  transition: o.4s;
  background-color: #ff589e;
}
footer {
  background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
  padding-top: 30px;
}
footer .social li a {
  color: #9d5bd9;
  text-align: center;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 15px;
}
footer .social {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  margin-top: 10px;
  text-align: center;
}
footer .copyright {
  text-align: center;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.88px;
  text-transform: uppercase;
}
.left-heading .section-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  margin-bottom: 30px;
  position: relative;
}
.left-text {
  font-weight: 400;
  font-size: 16px;
  color: #777;
  line-height: 28px;
  letter-spacing: 1px;
}
